body{
    background: linear-gradient(to right,rgb(185, 185, 235),wheat,rgb(185, 185, 235));
}
.navv{ 
    display: flex; 
    background-color: rgb(115, 121, 211); 
    border-top-right-radius: 40%; 
    border-bottom-left-radius: 40%;
}
button {
    font-style: italic; 
    font-size: large;
    cursor :pointer;
    box-shadow:  2px 3px blueviolet;               
   }
   button:hover{
     background-color: rgb(51, 114, 165); 
   }
   i:hover{
       color: green;
   }
   .ttle{
    color: rgb(0, 0, 0); 
    font-size: 300%; 
    margin-top: 1%;
    padding-left: 2%;
}

.btn {
    margin-left: 30%;
    margin-top: 2%; 
    margin-right: 5%;
    display: flex;
}
.btn > a{
    color: rgb(0, 0, 0);
    padding-left: 30%;
}
.resume > h1{
    margin-left: 37%; 
    font-size: 300%;
}

h2{
    color: blue;
}